.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

#outer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  text-align: center;
  width: 1440px;
  height: 900px;
  font-size: 36px;
  font-family: 'Rubik', Courier, monospace;
  position: relative;
  display: flex;
  flex-direction: column;
}

#top {
  width: 1440px;
  height: 280px;
  background-image: url('./images/pattern-bg-desktop.png');
}

#top-title {
  font-size: 2rem;
  color: white;
  padding: 28px 0px 28px 0px;
  font-weight: 500;
}

#bottom {
  width: 1440px;
  height: 520px;
  background-color: red;
}

#inner-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#input-field {
  font-size: 1.16rem;
  /* 1 rem = 16 px default, though actual rem size depends on size of root element's font-size */
  padding: 19px 23px;
  border-radius: 14px 0px 0px 14px;
  border: none;
}

#input-button {
  background-color: hsl(0, 0%, 17%);
  /* background-color: red; */
  height: 58px;
  width: 58px;
  border-radius: 0px 14px 14px 0px;
  border: none;
}

#center {
  width: 1110px;
  height: 161px;
  border-radius: 14px;
  background-color: white;
  position: absolute;
  z-index: 1;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 199px;
  margin: 0 auto;
}